<header id="topnav">
    <div class="topbar-main">
        <!--<div class="h-20 bg-darkgray">
        </div>-->
        <div class="container">
            <div class="menu-extras">

                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom p-5 mb-10">
        <div class="container">
            <div class="nav navbar-nav navbar-right pull-right mt-15">
                <a href="#" class="btn btn-primary btn-sm text-white"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-info btn-sm text-white"><i class="fa fa-twitter"></i></a>
            </div>
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu pull-right">

                    <li>
                        <a href="/"><i class="mdi mdi-layers"></i>Home</a>
                    </li>

                    <li>
                        <a href="/live-map"><i class="fa fa-globe"></i>Live Map</a>
                    </li>

                    <li>
                        <a href="/download"><i class="fa fa-save"></i>Download</a>
                    </li>

                    <li>
                        <a href="/about-us"><i class="mdi mdi-book-multiple"></i>About Us</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
